<% include ../partials/header %>
<img class="banner_img" src="/img/banner.png"/>
<div class="container">
  <div class="jumbotron">
    <p class="h1">ODTÜ Bilgisayar Topluluğu 21. Programlama Yarışması</p>
    <hr class="my-4">
    <p class="h2">Süreç</p>
      <p class="lead">
        ODTÜ Bilgisayar Topluluğu, üniversite öğrencilerini bilgisayar bilimlerine teşvik etmek amacıyla, her sene Türkiye genelinde bir programlama yarışması düzenlemektedir. Geçtiğimiz yıl 20.si gerçekleşen yarışmamızın 21.sinin iki aşamalı olarak 23-26 Mart ve 13 Nisan 2018 tarihlerinde gerçekleşmesi planlanmaktadır.
      </p>
      <p class="lead">
        İlk aşamada gönderilen programlar, Linux işletim sistemi kurulu bilgisayarlarda derlenerek değerlendirilir ve belirlenen finalist gruplar, ODTÜ Bilgisayar Mühendisliği Bölümü bilgisayar laboratuvarlarında yapılacak finale davet edilirler. Ankara dışından finale katılmaya hak kazanan yarışmacıların ODTÜ'de konaklamaları ve yol masrafları topluluğumuz tarafından karşılanır.
      </p>
      <p class="lead">
        Final aşamasında yine benzer formatta sorularla karşılaşan gruplar bu kez zamana karşı yarışırlar. Bu aşamada, her grup için bir bilgisayar temin edilerek, grup olmanın avantajını kullanmaları ve soruları organize bir şekilde yanıtlamaları beklenmektedir.
      </p>
      <p class="lead">
        Yarışma başvuruları 1-15 Mart arasında bu site üzerinden alınacaktır.
      </p>
  </div>
</div>
<% include ../partials/sponsorlar %>
<% include ../partials/footer %>
