<% include ../partials/header %>
<img class="banner_img" src="/img/banner.png"/>
<div class="container">
  <div class="jumbotron">
    <p class="h1">ODTÜ Bilgisayar Topluluğu 21. Programlama Yarışması</p>
    <hr class="my-4">
    <p class="h2">Süreç</p>
      <p class="lead">
        ODTÜ Bilgisayar Topluluğu Geleneksel Programlama Yarışmasının zamanı geldi çattı! Bu yıl 21.sini düzenleyeceğimiz yarışmamız her yıl olduğu gibi bu yıl da Türkiye genelinde ve üniversite öğrencileri arasında olacak. 2 aşamalı olacak olan yarışmamızın ön eleme etabı 23-26 Mart 2018 tarihleri arasında yapılacak. Final etabı ise 13 Nisan 2018'de Ankara'da, ODTÜ Bilgisayar Mühendisliği bölümü bilgisayar laboratuvarlarında gerçekleşecek.
      </p>
      <p class="lead">
        Online olarak yapılacak olan ilk etabın toplam 60 saatlik bir süresi olacak. Gruplar/yarışmacılar soruları ne kadar hızlı ve doğru çözdüklerine göre puanlanacaklar. Finale katılmaya hak kazanan grup/yarışmacılar Ankara'ya davet edilecekler. Ulaşım ve konaklama masrafları topluluğumuzca karşılanacak.
      </p>
      <p class="lead">
        Bölümümüzün laboratuvarlarında yapılacak olan final etabında finalistler çeşitli zorluk seviyesindeki sorularla imtihan edilecek ve yalnızca bir grup hayatta kalacak.
      </p>
      <p class="lead">
        Yarışmamızın ödülleri ise:
      </p>
        <ul>
          <li>birinci gruba/yarışmacıya 5000 tl</li>
          <li>ikinci gruba/yarışmacıya 3500 tl</li>
          <li>üçüncü gruba/yarışmacıya 2000 tl</li>
        </ul>
        <p class="lead">
        şeklinde olacak. Final etabını takip eden günde, 14 Nisan 2018'de ODTÜ Kültür ve Kongre Merkezinde Bilişim Günü düzenlenecek. Yarışmanın ödülleri Bilişim Günü'nün sonundaki ödül töreninde verilecek.
      </p>
      <p class="lead">
        Yarışmaya başvurularınızı sitemiz üzerindeki kayıt linkinden 15 Mart saat 23:59'a kadar yapabilirsiniz!
      </p>
  </div>
</div>
<% include ../partials/sponsorlar %>
<% include ../partials/footer %>
