<% include ../partials/header %>
<img class="banner_img" src="/img/banner.png"/>
<div class="container">
  <div class="jumbotron">
    <p class="h1">ODTÜ Bilgisayar Topluluğu 21. Programlama Yarışması</p>
    <hr class="my-4">
      <p class="lead">
        Bu yıl 21.sini düzenlediğimiz Türkiye geneli üniversite öğrencileri Programlama Yarışmamız sonuçlandı! Önce online ön eleme etabında gösterdikleri başarıyla finale kalan 17 takım arasına girmeye hak kazanan, sonra da final etabında ilk 3’e girmeyi başaran takımlarımızı sizlere açıklamak istiyoruz. Öncelikle kazanan takımları olmak üzere yarışmaya katılan herkesi tebrik ediyor, onlara teşekkürlerimizi sunuyoruz.

      </p>
      <p class="lead">
        İşte ilk üç takım:
      </p>
        <ol>
          <li><p class="lead">Blondebabes</p></li>
          <li><p class="lead">fırında sütlaç</p></li>
          <li><p class="lead">Marichka, Zenyk and a Third Wheel</p></li>
        </ol>
        <p class="lead">
        Yarışmamızın soruları ve çözümleri yakında sitemizde yayınlanacaktır. Yarışma hakkında düşünce ve geri bildirimlerinizi <a href="mailto:cclub@metu.edu.tr">cclub@metu.edu.tr</a> adresine yollayabilirsiniz, böylece önümüzdeki senelerde gerekli geliştirmeleri yapabiliriz.
      </p>
      <p class="lead">İyi günler dileriz!</p>
  </div>
</div>
<% include ../partials/sponsorlar %>
<% include ../partials/footer %>
