<% include ../partials/header %>
<img class="banner_img" src="/img/banner.png"/>
<div class="container">
  <div class="jumbotron">
    <p class="h1">ODTÜ Bilgisayar Topluluğu 21. Programlama Yarışması</p>
    <hr class="my-4">
      <p class="lead">
        ODTÜ Bilgisayar Topluluğu 21. Programlama Yarışması'nın final etabı geldi çattı! Final etabımız, 13 Nisan 2018 Cuma günü ODTÜ Bilgisayar Mühendisliği Bölümü laboratuvalarında gerçekleşecek.
      </p>
      <p class="lead">
        Bölümümüzün laboratuvarlarında yapılacak olan final etabında finalistler çeşitli zorluk seviyesindeki sorularla imtihan edilecek ve yalnızca bir grup hayatta kalacak.
      </p>
      <p class="lead">
        Yarışmamızın ödülleri ise:
      </p>
        <ul>
          <li><p class="lead">birinci gruba/yarışmacıya 5000₺</p></li>
          <li><p class="lead">ikinci gruba/yarışmacıya 3500₺</p></li>
          <li><p class="lead">üçüncü gruba/yarışmacıya 2000₺</p></li>
        </ul>
        <p class="lead">
        şeklinde olacak. Final etabını takip eden günde, 14 Nisan 2018'de ODTÜ Kültür ve Kongre Merkezi'nde Bilişim Günü düzenlenecek. Yarışmanın ödülleri Bilişim Günü'nün sonundaki ödül töreninde verilecek.
      </p>
  </div>
</div>
<% include ../partials/sponsorlar %>
<% include ../partials/footer %>
