<% include ../partials/header %>
  <div style="min-height:87.5vh">
    <div class="container">
      <div class="jumbotron">

        <h1>   Yarışma Kuralları ve Sıkça Sorulan Sorular </h1>
        <hr class="my-4">
        <h3>Yarışma Kuralları</h3>
        <hr class="my-3">
        <ul>
          <li>Yarışmaya bireysel veya takım olarak katılabilirsiniz. Takımlar en fazla 3 kişiden oluşabilir.</li>
     <li>Yarışmaya ön lisans ve lisans öğrencileri katılabilir. Final turuna katılacak grupların öğrenci belgesini getirmesi gereklidir.</li>
     <li>Yarışma 1 ön eleme 1 final şeklinde yapılacaktır.</li>
     <li>Yarışmada bu sayfada belirtilmiş dilleri kullanabilirsiniz.</li>
     <li>Ön eleme bu site üzerinden yapılacaktır.</li>
     <li>Final turuna katılabilmek için ön eleme turunda seçilmeniz gerekmektedir.</li>
     <li>Final turu ODTÜ Bilgisayar Mühendisliği Bölümü'nde Linux (Ubuntu) ortamında yapılacaktır.</li>
     <li>Ön elemeye katılan grup üyeleri ile finale katılan grup üyeleri aynı olmak zorundadır, grup üyesi değiştirmek yasaktır.</li>
     <li>Ön elemede veya finalde kaba kuvvet (brute force) kullanan ya da sistemin olası açıklarından faydalanan yarışmacılar diskalifiye edilecektir.</li>
     <li>Yarışmacıların yarışma esnasında telefon, tablet vb elektrikli alet kullanmaları yasaktır.</li>
     <li>Yarışmacıların yarışma esnasında salondan çıkması gerektiğinde kendilerine görevli arkadaşlar eşlik edecektir. Yanında görevli olmadan yarışma alanından
       ayrılan yarışmacı ve takımı organizasyon komitesi tarafından diskalifiye edilebilir.</li>
     <li>Bilişim gününe katılmayan yarışmacılarımıza ödül verilmeyecektir.</li>
   </ul>
   <hr class="my-3">
   <h3>Desteklenen Programlama Dilleri</h3>
   <hr class="my-3">
   <ul class="row">
     <li class="col-md-4 col-sm-6">C</li>
     <li class="col-md-4 col-sm-6">C++03</li>
     <li class="col-md-4 col-sm-6">C++11</li>
     <li class="col-md-4 col-sm-6">Haskell</li>
     <li class="col-md-4 col-sm-6">Java 8</li>
     <li class="col-md-4 col-sm-6">C# (Mono)</li>
     <li class="col-md-4 col-sm-6">Perl</li>
     <li class="col-md-4 col-sm-6">PHP 7</li>
     <li class="col-md-4 col-sm-6">Python 2</li>
     <li class="col-md-4 col-sm-6">Python 3</li>
     <li class="col-md-4 col-sm-6">Ruby 2.3</li>
   </ul>
   <hr class="my-3">
   <h3>Sık Sorulan Sorular</h3>
   <hr class="my-3">
   <ul>
    <li>Yarışmaya nasıl katılabilirim?</li>
      <li type="circle">Yarışmaya katılmak için, başvuru formunu doldurmanız yeterlidir. Yarışmanın başvuruları 1-21 Mart arasında bu site üzerinden alınacaktır.</li>
    <li>Yarışmak istediğim programlama dili geçerli diller listesinde yok, ne yapabilirim?</li>
      <li type="circle">Bizimle iletişime geçebilirsiniz, eğer dilin uygun olduğuna karar verirsek kullanabilirsiniz.</li>
    <li>Ulaşım masraflarım karşılanacak mı?</li>
      <li type="circle">Final turuna katılmak için aldığınız otobüs ve tren biletleri tarafımızdan karşılanacaktır. Ödenecek biletlerin aslının tarafımıza iletilmesinden yarışmacılar sorumludur.</li>
    <li>Konaklama mekanına nasıl ulaşırım?</li>
      <li type="circle">Yarışma günü öncesi, önceden belirlenecek olan saatte, AŞTİ veya tren garından konaklama mekanına kadar görevli arkadaşlarımız size eşlik edecektir.</li>
    <li>Ankara içinden ODTÜ’ye nasıl ulaşabilirim?</li>
      <li type="circle">Final turuna katılmaya hak kazanan yarışmacılarla tekrar iletişime geçilip gerekli bilgiler verilecektir.</li>
    <li>Konaklama masrafım karşılanacak mı?</li>
      <li type="circle">Yarışmacıların konaklama yeri tarafımızdan organize edilecek ve ücreti karşılanacaktır.</li>
    <li>Kendi konaklamamı veya ulaşımımı kendim karşılayabilir miyim?</li>
      <li type="circle">Evet.</li>
    <li>Kendi aracımla gelsem otobüs ücreti kadar yakıt parası alabilir miyim?</li>
      <li type="circle">Hayır.</li>
    <li>ODTÜ’ye girişte sıkıntı yaşar mıyım?</li>
      <li type="circle">Final turuna katılan yarışmacıların isim listesi ODTÜ kapılarına verileceğinden kimlikleriniz ile kolayca giriş yapabileceksiniz. Ayrıca yarışma günü ve Bilişim Günü konaklama mekanından okula geliş için arkadaşlarımız size eşlik edecektir.</li>
    </ul>
     </div>
    </div>
  </div>
<% include ../partials/footer %>
