<div class="sponsor-gallery">
  <h1 class="text-center">Sponsorlarımız</h1>
  <hr class="my-4">
  <h2 class="text-center">Platin Sponsorlar</h2>
  <div class="container">
    <img class="sponsor-img col-md-5 col-sm-12" src="/img/sponsor/siemens-logo.png" alt="">
    <img class="sponsor-img col-md-5 col-sm-12" src="/img/sponsor/jotform-logo.svg" alt="">
  </div>
  <h2 class="text-center">Gümüş Sponsorlar</h2>
  <div class="container">
    <img class="sponsor-img col-md-4 col-sm-8" src="/img/sponsor/teb-logo.png" alt="">
    <img class="sponsor-img col-md-4 col-sm-8" src="/img/sponsor/esensi-logo.png" alt="">
  </div>
</div>
