<div class="sponsor-gallery">
  <h1 class="text-center">Sponsorlarımız</h1>
  <hr class="my-4">
  <h2 class="text-center">Platin Sponsorlar</h2>
  <hr class="my-4">
  <div class="container">
    <img class="sponsor-img plat" src="/img/sponsor/jotform-logo.png" alt="">
    <img class="sponsor-img plat" src="/img/sponsor/siemens-logo.png" alt="">
  </div>
  <hr class="my-4">
  <h2 class="text-center">Gümüş Sponsorlar</h2>
  <hr class="my-4">
  <div class="container">
    <img class="sponsor-img silver" src="/img/sponsor/esen-logo.svg" alt="">
    <img class="sponsor-img silver" src="/img/sponsor/teb-logo.svg" alt="">
  </div>
</div>
